body{
    background-image: radial-gradient(circle, #536976, #292E49);
}

h1{
    font-family: 'Mochiy Pop P One', sans-serif;
    color: floralwhite;
    text-align: center;
    font-size: 50px;
    border-style: double;
    border-width: 10px;
    border-color: crimson;
}

#form{
    font-family: 'Licorice', cursive;
    color: azure;
    text-align: center;
    font-size: 40px;
}

.link{
    font-family: 'Josefin Sans', sans-serif;
    color: azure;
    font-size: 30px;
}

img{
    display : block;
    margin-left: auto; 
    margin-right: auto;
    height:400px;
    width:500px;
}